

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            transition: all .2s linear;
            font-family:  sans-serif;
        }

        html {
            scroll-behavior: smooth;
        }

        body {
            overflow-x: hidden;
        }
                       
        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            background: #181717;
            z-index: 100;
            padding: 1rem 2rem;
            box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .3);
        }

        .header .logo {
            padding-left: 240px;
            margin: 10px;
        }

        .header nav ul {
            list-style-type: none;
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin: 0;
            padding: 0;  

        }

        img{
            width: 50%;
        }

        .header nav ul li {
            margin: 0 1.5rem;

        }

        .last{
            margin-right: 240px;
        }

        .header nav ul li a {
            font-size: 10px;
            color:white;
            text-transform: uppercase;
            font-weight: bold;
        }

        .header nav ul li a:hover {
            color: rgb(159, 60, 225);
            text-decoration: none;
        }
        .header nav ul a img {
            width: 20px;
        }


        .header .fa-bars {
            font-size: 2.5rem;
            color: #666;
            cursor: pointer;
            display: none;
        }

        .imgtop{
            height: 580px;
            width: 1200px;
            margin-top: 100px;
        }

        .img1{
            height: 580px;
            width: 1200px;
        }

        .img2{
            height: 550px;
            width: 1100px;
            position: absolute;
            margin-top:-570px;
            margin-left:-735px;   
        }

        .img3{
            height: 550px;
            width: 900px;
            position: absolute;
            margin-top:-570px;
            margin-left:-165px;   
        }

        .img4{
            height: 550px;
            width: 800px;
            position: absolute;
            margin-top:-450px;
            margin-left:-735px;   
        }

        .imgc{
            height: 550px;
            width: 500px;
            position: absolute;
            margin-top:-450px;
            margin-left:200px;   
        }

        .lineimg{
            width: 310px;
            position: absolute;
            margin-top:-330px;
            margin-left:140px;   
        }

        .lineimg2{
            width: 320px;
            position: absolute;
            margin-top:-340px;
            margin-left: -500px;
        }

        .home {
            width: 100%;
            height: 800px;
            background: rgb(23, 23, 23);
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column;
            background-image: url(bg2@2x.png);     
        }
        .imgon{
            position: absolute;
            color: #fff;
            margin-left: 880px;
            margin-right: 200px;
            margin-top: 80px;
        }

        .imgon h2{
            font-size: 50px; 
            font-weight: bold;
        }

        .imgon p{
            font-size: 12px;
            padding-top: 30px;
        }
        .imgon .btn{
            border: 1px solid rgb(159, 60, 225);
            background-color: rgb(159, 60, 225);
            color: #fff;
            font-size: 12px;
            border-radius: 0;
            margin-top:20px ;
        }

        .title{
            margin-top: 20px;
            font-size: 40px;
            font-weight: bold;
            margin-right: 600px;
            color: white;
        }
        .imgtitle{
          width: 700px;  
          margin-top: -40px;
          margin-left: -220px;
        }

        .titlebtn{
            border: 1px solid rgb(159, 60, 225);
            background-color: rgb(159, 60, 225);
            color: #fff;
            font-size: 12px;
            padding: 15px;
            padding-top: 5px;
            padding-bottom: 5px;
            margin-top: -55px;
            margin-left: 700px;
            cursor: pointer;
        }
                
        .imgon2{
            position: absolute;
            color: #fff;
            margin-right: 800px;
            margin-LEFt: 300px;
        }

        .imgon2 h2{
            font-size: 50px;
            font-weight: bold;
        }

        .imgon2 p{
            padding-top: 50px;
            font-size: 12px;
        }

        .imgon2 .btn{
            border: 1px solid rgb(159, 60, 225);
            background-color: rgb(159, 60, 225);
            color: #fff;
            font-size: 12px;
            border-radius: 0;
            margin-top:20px ;
        }

        .about {
            width: 100%;
            height: 800px;
            background: rgb(23, 23, 23);
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column;
            background-image: url(group-96@2x.png);      
        }

        .whyus {
            width: 100%;
            height: 800px;
            margin-top: -50px;
            background: rgb(23, 23, 23);
            background-size: cover;
            object-fit: contain;
            background-position: center;
            background-attachment: fixed;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column;
            background-image: url(group-96@2x.png);      
        }

        .footer {
            width: 100%;
            height: 300px;
            background: rgb(23, 23, 23);
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            flex-flow: column;
            background-image: url(mask-group@2x.png);   
        }

        .temp{
            width: 100%;
            background-color: rgb(23, 22, 22);
            display: grid;
            grid-template-columns:repeat(auto-fit, minmax(100px, 1fr));
        }

        .tempcontainer{
            background-color: rgb(23, 22, 22);
            margin-left: 120px;
            margin-right: 120px;
            display: grid;
            grid-template-columns:repeat(auto-fit, minmax(100px, 1fr));
        }

        .temp2{
            background-color: rgb(23, 22, 22);
            display: grid;
            grid-template-columns:repeat(auto-fit, minmax(100px, 1fr));
            margin-top: -50px;
        }
            
        .column{
            margin: 10px;
            background-color:rgb(53, 36, 56);
            padding: 10px;
            display: grid;
            line-height: 10px; 
            border-radius: 10px;
        }

        .column h3{
            color: #fff;
            margin-top: 20px;
            font-size: 20px;
            font-weight:bold ;
        }

        .column p{
            color: #fff;
            font-size: 12px;
            margin-top: 5px;
        }
        
        .column1{
            margin: 10px;
            background-color:rgb(53, 36, 56);
            padding: 10px;
            display: grid;
            line-height: 10px; 
            border-radius: 10px;
        }

        .column1 P{
            color: #fff;
            text-align: center;
            margin-top: 25px;
            font-weight: bold;
        }

        .tempimg {
            opacity: 1;
            width: 100%;
            height: auto;
            transition: .5s ease;
            backface-visibility: hidden;
        }
        
        .middle {
            transition: .5s ease;
            opacity: 0;
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
        }
        
        .column:hover .tempimg {
            opacity: 0.3;
        }
        
        .column:hover .middle {
            opacity: 1;
            cursor: pointer;
        }

        .column1:hover .tempimg {
            opacity: 0.3;
        }
        
        .column1:hover .middle {
            opacity: 1;
            cursor: pointer;
        }
        
        .text {
            background-color:rgb(159, 60, 225);
            color: white;
            font-size: 16px;
            padding: 16px 10px;
            margin-left: 100PX;
            margin-right: 100PX;
            margin-top: -260PX;
        }

        .text1 {
            background-color:rgb(159, 60, 225);
            color: white;
            font-size: 16px;
            padding: 16px 10px;
            margin-left: 60PX;
            margin-right: 60PX;
            margin-top: -250PX;
        }

        .footer .box-container {
            display: grid;
            -ms-grid-columns: (minmax(10rem, 1fr))[auto-fit];
            grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
            margin-left: 250px;
            margin-right: 250px;
            padding-top: 50px;
        }

        .footer .box-container .box h3 {
            font-size: 20px;
            text-transform: capitalize;
            color:white;
            padding: .5rem 0;
        }

        .footer .box-container .box p {
            font-size: 12px;
            line-height: 2;
            color: rgb(159, 60, 225); 
            cursor: pointer;
        }

        .footer .box-container .box .special {
            margin-top: 20px;
            font-size: 12px;
            line-height: 2;
            color: rgb(248, 247, 248);
        }


        @media (max-width:768px) {
            html {
                font-size: 50%;
            }

            .header .fa-bars {
                display: block;
            
            }
                        
            .header nav {
                position: fixed;
                top: 6rem;
                right: -120%;
                height: calc(100vh - 6rem);
                width: 100vw;
                background: rgba(72, 41, 69, 0.5);
                z-index: 1000;
                border-top: .1rem solid rgba(138, 135, 135, 0.3);
            }
            .header nav ul {
                height: 100%;
                width: 33rem;
                background: #191919;
                flex-flow: column;
                justify-content: center;
                float: right;
            }
            .header nav ul li {
                margin: 1rem 0;
            }
            .header nav ul li a {
                display: block;
                padding: .5rem 0;
                border: .1rem solid rgba(145, 143, 146, 0.3);
                width: 25rem;
                border-radius: 5rem;
                text-align: center;
            }

            .header nav ul a {
                display:none;
            }

            .header nav ul li a:hover {
                background: #382b38;
                color: #fff;
            }
            .header .nav-toggle {
                right: 0%;
            }

            .home{
                width: 50%;

        }

        .temp{
            width: 50%;

    }

    .about{
        width: 50%;

}

.temp2{
    width: 50%;

}
.whyus{
    width: 50%;

}

.footer{
    width: 50%;

}
    }
